body{
    background-color: rgba(105,70,123,255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:lightgray;
}

h1{
    text-align: center;
    flex: auto;
    margin-bottom: 1px;
   
}

h3{
    display:inline-table;
    text-align: center;
    font-size: 32px;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content:center;
    padding: 10px;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    flex: content;
    background-color: white;
    border-width: 1px;
    border-color: rgba(105,70,123,255);
    transition: 0.3s ease-in-out all;
    font-size: 80%;
    margin-right: 29%;
    margin-left: 35%;
    margin-top: 7%;
    color: rgba(105,70,123,255);
}

button:hover{
    background-color: rgba(105,70,123,255);
    color:  white;
    transform: scale(1.2);
}

table {
    
    border: 1px solid #ddd; 
    margin: auto; 
    width: 100%;
    height: 100%;
    flex:content;
    margin-bottom: 100px;

  }
  
  td {
    text-align: center; 
    padding: 10px; 
    background-color:  rgb(255, 245, 253); 
  }


.inputName{
    flex: auto;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(105,70,123,255);
    margin: 10px;
    padding: 5px;
    color: rgba(105,70,123,255);
    font-weight: bolder;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(255, 243, 253);
}

.msg{
    font-size: 10px;
    
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

/* Main Page: left = users' names; right = ranking */
/* Game Page: left = bingo card; right = bingo number */
 .container__left, .container__right{
    background-color: rgb(255, 229, 251);
    display: flex;
    flex-direction: column;
    color: rgba(105, 70, 123, 255);
    border-radius: 10px;
    box-shadow: 5px 7px 10px 4px rgba(0, 0, 0, 0.25);
    padding: 5%;
    margin: auto;
    min-width: 30%;
    flex: 10;
    max-width: 40%;
    min-width: 350px;
    min-height: 550px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 10px;
 }

.logo{
    flex: auto;
    margin: auto;
    justify-content: center;
    display: block;
    min-width: 40px;
    min-height: 30px;
    max-width: 150px;
    max-height: 150px;
}

.activeCard{
    border: none;
    margin-bottom: 10%;
    text-align: center;
    align-items:center;
    min-height: fit-content;
}

.activeCard td{
    border-radius: 100px;  
      
}
  
.activeCard thead{
    font-size: 200%;
    display:contents;  
    
}

.activeCard td:hover{
    background-color: rgba(105,70,123,255);
    color:  white;
}

.contador{
    background-color: rgba(105,70,123,255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 2px 2px 4px 2px rgba(0, 0, 0, 0.2);

}

.bingoBall{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(105,70,123,255);
    border: 20px solid rgba(105,70,123,255);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.container__rightMiddle{
    display: flex;
    align-items:baseline;
}

.container__rightMiddle button{
    margin-right: auto;
    margin-left: 30px;
    margin-top: 100px;
    color: rgba(105,70,123,255);
    text-align: justify;
    transition: 0.3s ease-in-out all;
}

.container__rightMiddle button:hover{
    color:  white;
    transform: scale(1.1);
}

.otherCards{
    display: flex;
}

.otherCards thead{
    font-size: smaller;

}

.otherCards td{
    font-size: smaller;
    
}

.marcado{
    background-color: rgba(105,70,123,255);
    color: white;
}

.restartButton, .nextButton, .backButton{
    align-items: center;
    background: none;
    border: none;
    margin: 1px;


}

.restartButton:hover, .nextButton:hover, .backButton:hover {
    background: none;
    border: none;
}

.otherButtons{
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap;
}

.cardsHidden{
    display: none;
}
